<table>
    <thead>
    <tr><th colspan="2">Lista Estados</th></tr>
    </thead>

    <tr>
        <th>Nome</th>
        <th>Siglas</th>
    </tr>   
    <% estados.each do |estado| %>
    <tr><td><%= estado[:nome] %></td
    ><td><%= estado[:sigla] %> anos</td></tr>    
    <% end %>
</table>
